Question 1

In [28]:
a = 0
def b():
 global a
 a = c(a)
 print(a)
def c(a):
 return a + 2

In [29]:
b()

2

In [30]:
b()

4

In [31]:
b()

6

In [32]:
a

6

When the function b() is executed for the first time the value of a becomes 2 as b refers to the function c and function c() adds 2 to the value of since the value of a originally was 0 it is now 2. When the the function b() is called for the second time the value of a becomes 4 as function b() again refers to c which adds 2 again to a which has a value of 2 now so a now becomes 4. When function b() is called for the third time the value of a becomes 6 as b() refers to function c() again and add 2 again to value of a which is now 4 so a becomes 6. Finally, when we type a we see the the current value of a which is now 6

Question 2

In [10]:
def filelength(filename):
    try:
        filename=open(filename,'r')
        length=len(filename.readlines())
        print(length)
    except:
        print('filelength.txt not found')

In [7]:
filelength(r'C:\course contents\Data Programming\filelength.txt')

5

In [11]:
filelength(r'C:\course contents\Data Programming\lilelength.txt')

filelength.txt not found

Question 3

In [28]:
class Marsupial :
    def __init__(self):
        self.pouch = []
    
    def put_in_pouch(self, breed):
        self.pouch.append(breed)
    
    def pouch_contents(self):
        return "My pouch Contains {} ".format(self.pouch)

In [29]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

"My pouch Contains ['doll', 'firetruck', 'kitten'] "

In [30]:
class  Kangaroo(Marsupial):
    def __init__(self,x1,y1):
        Marsupial.__init__(self)
        self.x = x1
        self.y = y1
    def jump(self,x2,y2):
        self.x += x2
        self.y += y2
    def __str__(self):
        return "I am a Kangaroo located at coordinates ({},{})".format(self.x,self.y)

In [31]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [32]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

"My pouch Contains ['doll', 'firetruck', 'kitten'] "

In [33]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

question 4

In [1]:
def collatz(x):
    
    if x==1:
        print(x)
    elif x%2==0:
        print(x)
        x=collatz(int(x/2))
        
    elif x%2 != 0:
        print(x)
        x=collatz(int(3*x+1))

In [2]:
collatz(10)

10
5
16
8
4
2
1

question 5

In [20]:
def Binary(x):
    if(x > 1):
        Binary(x // 2)
    print(x % 2,end="")

In [21]:
Binary(9)

1001

Question 6

In [171]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    head = False
    def handle_starttag(self, tag, attrs):
        if tag == "h1":
            self.head = True
            
        elif tag == "h2":
            self.head = True
            
            
    def handle_data(self, data):
        if self.head:
            print(data,end='')

In [172]:
infile = open('C:\course contents\Data Programming\w3c.html',"r")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
	Principles

Question 7

In [259]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser
class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links

In [258]:
url = 'https://reed.cs.depaul.edu/lperkovic/test1.html'
resource = urlopen(url)
content = resource.read().decode()
collector = Collector(url)
collector.feed(content)
collector.getLinks()

['http://reed.cs.depaul.edu/lperkovic/test2.html',
 'https://reed.cs.depaul.edu/lperkovic/test3.html']

In [273]:
import re
def analyze(url):
    

    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks()         

    # compute word frequencies
    content = re.sub( r'<[^>]*>', ' ', content ).strip()
   
    for n in urls:
        print('{:45}'.format(n))

    return urls
def crawling(url):
    print('{:45}'.format(url))
    analyze(url)

In [274]:
crawling('https://reed.cs.depaul.edu/lperkovic/test1.html')

https://reed.cs.depaul.edu/lperkovic/test1.html
http://reed.cs.depaul.edu/lperkovic/test2.html
https://reed.cs.depaul.edu/lperkovic/test3.html

Question 8

In [219]:
import sqlite3

con = sqlite3.connect('assi2.db')
cur = con.cursor()
cur.execute("CREATE TABLE Weather (City text,Country text,Season text,Temperature float,Rainfall float)")

In [220]:
con.commit()
con.close()

In [221]:
con = sqlite3.connect('assi2.db')
cur = con.cursor()

In [222]:
cur.execute("INSERT INTO Weather VALUES ('Mumbai','India', 'Winter', 24.8 ,5.9 )")

In [223]:
cur.execute("INSERT INTO Weather VALUES ('Mumbai', 'India', 'Spring' ,28.4, 16.2)")
cur.execute("INSERT INTO Weather VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
cur.execute("INSERT INTO Weather VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO Weather VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7)")
cur.execute("INSERT INTO Weather VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6)")
cur.execute("INSERT INTO Weather VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0)")
cur.execute("INSERT INTO Weather VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO Weather VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")
cur.execute("INSERT INTO Weather VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")
cur.execute("INSERT INTO Weather VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")
cur.execute("INSERT INTO Weather VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

In [224]:
con.commit()
con.close()

In [225]:
con = sqlite3.connect('assi2.db')
cur = con.cursor()
cur.execute('SELECT * FROM Weather')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [227]:
cur.execute('SELECT Temperature FROM Weather')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [229]:
cur.execute('SELECT DISTINCT City FROM Weather')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [231]:
cur.execute('SELECT * FROM Weather WHERE Country ="India"')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [232]:
cur.execute('SELECT * FROM Weather WHERE Season ="Fall"')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [234]:
cur.execute('SELECT City,Country,Season FROM Weather GROUP BY City HAVING AVG(Rainfall) BETWEEN 200.0 AND 400.0')
cur.fetchall()

[]

In [237]:
cur.execute('SELECT City,Country,Temperature FROM Weather WHERE Season = "Fall" GROUP BY City HAVING AVG(Temperature) > 20 ORDER BY Temperature ASC')
cur.fetchall()

[('Cairo', 'Egypt', 22.2), ('Mumbai', 'India', 27.6)]

In [238]:
cur.execute('SELECT SUM(Rainfall) FROM Weather WHERE City = "Cairo"')
cur.fetchall()

[(27.6,)]

In [249]:
cur.execute('SELECT SUM(Rainfall) FROM Weather WHERE Season = "Winter" ')
cur.fetchall()

[(230.1,)]

In [250]:
cur.execute('SELECT SUM(Rainfall) FROM Weather WHERE Season = "Fall" ')
cur.fetchall()

[(569.0,)]

In [251]:
cur.execute('SELECT SUM(Rainfall) FROM Weather WHERE Season = "Summer" ')
cur.fetchall()

[(1706.5,)]

In [252]:
cur.execute('SELECT SUM(Rainfall) FROM Weather WHERE Season = "Spring" ')
cur.fetchall()

[(192.29999999999998,)]

question 9

In [49]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
word_lower=[]
word_upper=[]
word_len=[]
word_w4=[]
word_combine=[]
for word in words:
    word_upper.append(word.upper())
for word in words:
    word_lower.append(word.lower())
for word in words:
    word_len.append(len(word))
word_combine = [item for sublist in zip(word_upper,word_lower,word_len) for item in sublist]
for word in words:
    if len(word)>=4:
        word_w4.append(word)

print("The List in upper case:")
print(word_upper)
print("The list in lower case:")
print(word_lower)
print("The length of the words in the list:")
print(word_len)
print("The combination of lowercase,uppercase and length of words in list:")
print(word_combine)
print("The words with more than 4 characters:")
print(word_w4)

The List in upper case:
['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
The list in lower case:
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
The length of the words in the list:
[3, 5, 5, 3, 5, 4, 3, 4, 3]
The combination of lowercase,uppercase and length of words in list:
['THE', 'the', 3, 'QUICK', 'quick', 5, 'BROWN', 'brown', 5, 'FOX', 'fox', 3, 'JUMPS', 'jumps', 5, 'OVER', 'over', 4, 'THE', 'the', 3, 'LAZY', 'lazy', 4, 'DOG', 'dog', 3]
The words with more than 4 characters:
['quick', 'brown', 'jumps', 'over', 'lazy']